 <%# ファイル末尾のerbとはEmbedded Ruby（埋め込みRuby）の略であり、.html.erbとはRubyコードが組み込まれたhtmlファイル、 %>
<%# という意味になります。（厳密に言うと少々異なりますが、大枠の理解はこの程度で問題ありません） %>
<%# test.htmlファイルの中でrubyのコードを書くことが可能になったのがtest.html.erbファイルだということです。 %> 

<%# erbファイルでは、コードの前後を<%で囲むことによって、その文章をrubyのコードとして実行できるようになります。
ちなみに、<%=と書くと、処理の結果得られた値をHTMLに描画（出力）することができます。 %> 


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <%# 17.19.20の三行で、pgライブラリをこのhtmlファイル内で使用できるようにし、
    その後connection変数にgoyaデータベースとの接続情報を入れています。 %>
    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>

    <%# ３１〜３６行のコードで、result変数にゴーヤの大きさと売った相手の情報のデータを入れ、
    それらの情報をeach文で一つずつdataと言う名前の配列に挿入しています。 %>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    
    <%# 43~49のコードで、ゴーヤ情報に飛ぶための別のformを作成し、送信ボタンとDBの値を入れ込みます。 %>
    <%# input要素のvalueオプションに値をいれることで初期値を設定することができます。 %>
    <%# data.join(' ')という記述で配列型であるdataの中に入っている複数の情報を文字列型に変換し、 %>
    <%# その結果をvalueに挿入しています。 %>
    <%# これにより、複数のゴーヤの情報が初期値として設定され、レスポンスとして返されるという流れになります。 %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>